.root {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	color: #ccc;

	.content {
		background-color: #464955;
		padding: 3rem;
		border-radius: 10px;

		p {
			margin-bottom: 2rem;
		}
	}
}
