.root {
	height: 100%;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	header {
		padding: 2rem 0;
		color: rgb(190, 190, 190);
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			font-size: 2.8rem;
			font-weight: 300;
		}

		div {
			font-size: 1.6rem;
			cursor: pointer;
		}
	}

	main {
		flex-grow: 1;
		width: 50%;
		margin: 0px auto;
		padding: 0 1.5rem;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		div {
			color: #ccc;
		}
	}
}
